{% comment %}
Template for the reusable popup system, it has been built to be used with HTMX.
To use you need to load "popup_tags" at the top of your template : {% load popup_tags %}
Then you need to append the popup html to the template : {% popup %}
And finally you can open/close the popup using an htmx button for example :
<button type="button"
   hx-get="{% url 'obj-detail' pk=obj.pk %}"
   hx-target="{% popup_content_id %}" # Set the htmx target to the popup content
   hx-swap="innerHTML"
   hx-on:htmx:after-request="{% popup_open %}" # Open the popup after the request end
    Détail
</button>


{% endcomment %}

<style>
    #customPopup-content-{{ name }}{
        width: {{ width }};
    }
</style>

<div id="customPopup-{{ name }}" class="customPopup" aria-modal="true" role="dialog">
    <div id="customPopup-content-{{ name }}" class="customPopup-content">
        {{ content }}
    </div>
    <div id="customPopup-bg-{{ name }}" class="customPopup-bg"></div>
</div>

<script>
    {% if outside_click_close %}
        document.querySelector("#customPopup-bg-{{ name }}").addEventListener("click", ()=>{
            closePopup('#customPopup-content-{{ name }}')
        })
    {% endif %}

    {% if esc_key_close %}
        document.addEventListener("keydown",(e)=>{
            if (e.key==="Escape"){
                closePopup('{{ name }}')
            }
        })
    {% endif %}


    window.django_popup.popups.push({
        "name" : "{{ name }}",
        "state" : POPUP_STATE.UNLOADED
    });
</script>