{%include 'base/show_message.html'%}
{% load custom_tags popup_tags %}

<div id="badge-endorsment-form">
    <h2>Endosser un badge</h2>
    <form>
        <label for="structure-input" class=" mt-2">Structures qui endosse :</label>
        {# Structure who do not endorsed #}
        <select id="structure-input" class="form-select mt-2" name="structure">
            <option>--- Sélectionnez une Structure ---</option>>
            {%for structure in structures %}
                <option {% if defaults.structure == structure.pk|stringformat:"s"  %} selected {%endif%} value="{{structure.pk}}">
                    {{structure.name}}
                </option>
            {%endfor%}
        </select>

        {% if errors.structure %}
            <p class="error">{{errors.structure.0}}</p>
        {% endif %}


        {# Additional notes #}
        <label for="criteria-input" class=" mt-2">Critère d'attribution :</label>
        <p class="explanation">Quelles sont les critères à remplir pour recevoir ce badge dans votre structure ?</p>
        <textarea id="criteria-input" class="form-control mt-2" name="criteria">{% if defaults.criteria %}{{defaults.criteria}}{%endif%}</textarea>
        {% if errors.criteria %}
            <p class="error">{{errors.criteria.0}}</p>
        {% endif %}

        {# Additional notes #}
        <label for="notes-input" class=" mt-2">Notes supplémentaire :</label>
        <p class="explanation">Pourquoi endosser ce badge ?</p>
        <textarea id="notes-input" class="form-control mt-2" name="notes">{% if defaults.notes %}{{defaults.notes}}{%endif%}</textarea>
        {% if errors.notes %}
            <p class="error">{{errors.notes.0}}</p>
        {% endif %}

        {# User pk#}
        <input type="hidden" name="endorsed_by" value="{{request.user.pk}}">
        <input type="hidden" name="badge" value="{{ badge_pk }}">


        <div class="mt-3 d-flex align-items-center gap-2">
            <button class="btn btn-primary"
             hx-post="{% url 'core:badge-endorse' badge_pk %}"
             hx-target="#badge-endorsment-form"
             hx-swap="innerHTML">
                Envoyer</button>

            <button class="btn btn-cancel" onclick="{% popup_close %}" type="button">Annuler</button>
        </div>
    </form>
</div>
