{% load custom_tags popup_tags %}

<div id="user-info">
    <form hx-post="{% url 'core:edit-profile' user.pk %}"
            hx-target="#user-info"
            hx-swap="innerHTML">
        <div class="row">
            <div class="col-md-12">
                <h2 class="card-title">Modifier mes informations personnelles  </h2>
            </div>
        </div>
        {% csrf_token %}
        <p>Email associé : {{ user.email }}</p>

        {% if form.non_field_errors or form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                {{ error }}<br>
            {% endfor %}
        </div>
        {% endif %}

        <!--Last name-->
        <div class="row mb-2">
            <div class="col-md-4 fw-bold">
                <label for="{{ form.last_name.id_for_label }}" class="form-label fw-bold">{{ form.last_name.label }}</label>
            </div>
            <div class="col-md-8">{{ form.last_name }}</div>
            {% if form.last_name.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.last_name.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <!--First name-->
        <div class="row mb-2">
            <div class="col-md-4 fw-bold">
                <label for="{{ form.first_name.id_for_label }}" class="form-label fw-bold">{{ form.first_name.label }}</label>
            </div>
            <div class="col-md-8">{{ form.first_name }}</div>
            {% if form.first_name.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.first_name.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <!-- Address -->
        <div class="row mb-2">
            <div class="col-md-4 fw-bold">
                <label for="{{ form.address.id_for_label }}" class="form-label fw-bold">{{ form.address.label }}</label>
            </div>
            <div class="col-md-8">{{ form.address }}</div>
            {% if form.address.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.address.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="Valider"/>
        <button type="button" onclick="{% popup_close %}" class="btn btn-cancel">Annuler </button>
    </form>
</div>