{%include 'base/show_message.html'%}
{% load custom_tags popup_tags %}

<div id="structure-invite-form">
    <form hx-post="{% url 'core:user-delete' user.pk %}"
          hx-target="#structure-invite-form"
          hx-swap="innerHTML">

        <h2>Désactiver votre compte ?</h2>
        <p>Êtes-vous sûr de vouloir désactiver votre compte ? Cette action est irréversible.</p>

        <button class="btn btn-primary">Désactiver</button>

        <button class="btn btn-cancel" onclick="{% popup_close %}" type="button">Annuler</button>
    </form>
</div>